<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>SmartActivate</string>
	<key>CFBundleVersion</key>
	<string>5</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleGetInfoString</key>
	<string>1.1 copyright 2005-2009, Tetsuro KURITA</string>
	<key>NSHumanReadableCopyright</key>
	<string>copyright 2005-2009, Tetsuro KURITA</string>
	<key>CFBundleIdentifier</key>
	<string>Scriptfactory.SmartActivate</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>osax</string>
	<key>CFBundleSignature</key>
	<string>ascr</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>OSAScriptingDefinition</key>
	<string>${PRODUCT_NAME}.sdef</string>
	<key>OSAXHandlers</key>
	<dict>
		<key>Events</key>
		<dict>
			<key>smAtsmAt</key>
			<dict>
				<key>Handler</key>
				<string>MyEventHandler</string>
				<key>ThreadSafe</key>
				<true/>
				<key>Context</key>
				<string>Any</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
